// Place all the styles related to the booking controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "bootstrap";
.form {
    // @extend .form-horizontal;
  
    .field {
      @extend .form-group, .row;
    }
    input[type=submit] {
      @extend .btn, .btn-primary;
    }
  }

p{
    font-size: 22px;
    text-transform:capitalize;
}
.success{
    color:rgb(5, 114, 5);
}