// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap";
h2{
    text-transform: uppercase; 
    font-size: 22px;
    letter-spacing: 2px;
    font-weight: bold;
    margin-left: 10px;
  }
  
  table{
    //   border:solid,black;
    table-layout: auto;
    width:100%;
  }
  thead{
      padding:10px;
  }
  td{
      padding:10px;  
      font-size:19px;
  }
  th{
    padding:10px; 
  }