// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap";
.preview{
    img{
        padding: 10px;
       max-width: 50%;
       max-height:35vh;
       border-radius: 30%;
    }
  }
h2{
    text-transform: uppercase; 
    font-size: 22px;
    letter-spacing: 2px;
    font-weight: bold;
    margin-left: 10px;
  }
  
  table{
    //   border:solid,black;
    border-collapse: collapse;
    table-layout: auto;
    width:100%;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  thead{
    border: 1px solid black;
    letter-spacing: 1px;
    padding:10px;
    
  }
  td{
    padding:8px;  
    font-size:19px;
    text-transform: capitalize;
  }
  th{
  background-color:rgb(8, 94, 122);
  color: white;
  padding:12px; 
  }
  
  tr{
    background-color: #f2f2f2;
  }
  tr:hover {
    background-color: rgb(207, 204, 204);
  }
