// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap";
a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  li{
    text-decoration: none;
  }
//   a:hover {
//     text-decoration: none;
//     background-color: #4CAF50;
//     color: black;
//   }
  
  .next {
    background-color:rgb(95, 146, 194);
    color: white;
  }
  
  .search{
      display:flex;
      justify-content: center;
      align-items: center;
      margin-left:20px;
      // margin-top:19%;
  }
  .heading{
    margin-top: 30px;
    display:flex;
    justify-content: center;
    margin-left: 20px;
    color: white; 
    padding:10px; 
  }
  h1{
    font-size: 40px;
  }
  .content{
    width:40%;
    margin-top: 20px;
    margin-left:30%;
    justify-content: center;
    background-color:white;
  }
  p{
    font-family: "Comic Sans MS";
  }