<div class="footer-c"> 
  <footer>
    <ul>
      <li class="git-logo"><a  href="https://github.com/kshamseera" class="fab fa-github"></a></li>
      <li>© Shamseera Kurumbeth</li>
    </ul>
  </footer>
</div>